
.thumbnail{
    width: 100%;
    padding-top: 50px;
    padding-left: 72px;
    padding-right: 24px;
}

.vedio-title{
    margin-top: 0%;
    font-size: 13px;
    font-weight:bold;
    line-height: 22px;
    margin-bottom: 10px;

}
.vedio-stats,.video-author{
    display:block;
    font-size: 13px;
    color:#606060;

    }
.video-author{
    margin-bottom: 4px;
}
    .video-info-grid{
        display:grid;
        grid-template-columns: 50px 1fr;
        padding-left: 80px;
    }
    
    .profil-picture{
        width: 36px;
        vertical-align: top;
    }.vedio-info{
        width: 200px;
    }
    .picture{
        width: 40px;
        border-radius: 50px;
    }
    .thumbnail-roll{
        margin-bottom: 8px;
        position: relative;
    }
    .vedio-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
        row-gap:10px ;
    }
    @media (max-witdh:600px){
        .vedio-grid{
            grid-template-columns: 1fr 1fr;
        }
    }
    .vedio-time{
        font-family: roboto,Arial;
        font-size: 12px;
        font-weight: 500;
        padding: 4px;
        border-radius: 2px;
        background-color: black;
        color: white;
        position: absolute;
        bottom: 8px;
        right: -58px;
    }
